*{margin:0;padding:0}.moodboard{background-image:url("../images/birthdaybash-bg5.jpg");background-position:center;background-repeat:no-repeat;background-size:cover;display:flex;height:160px}
isplay:flex;height:160px}
